extends ../../blocks/layout-default/layout-default

block head
    - var pageTitle = 'asdsa Project Template';

block content
    h1 Jadeasds - node template engine
    #container.col
        p.
            asasdasdd is a asdsadasterse and simple
            teasdasdasmplating language with a
            strong focus on performance
            and powerful features.