include ../../../node_modules/bemto.pug/bemto.pug

doctype html
html(lang='ru-RU' manifest='findface.appcache' ng-csp='' xmlns:ng='http://angularjs.org' ng-app='app')
  include ../head/head
  body.page(ng-controller='GlobalController' ng-class='tmplClass')
    block content